<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icon_Email.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,327},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>Icon_Gamecenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,327},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>Icon_Message.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,327},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>Icon_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,327},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>Icon_twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,2},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>Tile_FinalScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,273},{109,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,121}}</string>
                <key>sourceSize</key>
                <string>{109,121}</string>
            </dict>
            <key>Tile_Operator.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,396},{109,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,121}}</string>
                <key>sourceSize</key>
                <string>{109,121}</string>
            </dict>
            <key>Tile_Operator_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,273},{109,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,121}}</string>
                <key>sourceSize</key>
                <string>{109,121}</string>
            </dict>
            <key>Tile_Operator_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,396},{109,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,121}}</string>
                <key>sourceSize</key>
                <string>{109,121}</string>
            </dict>
            <key>Tile_Operator_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,273},{109,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,121}}</string>
                <key>sourceSize</key>
                <string>{109,121}</string>
            </dict>
            <key>Tile_Wrong_Result.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,396},{109,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,121}}</string>
                <key>sourceSize</key>
                <string>{109,121}</string>
            </dict>
            <key>btnExpertMode.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{269,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,97}}</string>
                <key>sourceSize</key>
                <string>{269,97}</string>
            </dict>
            <key>btnKidsMode.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,407},{269,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,97}}</string>
                <key>sourceSize</key>
                <string>{269,97}</string>
            </dict>
            <key>btnMore.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{269,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,97}}</string>
                <key>sourceSize</key>
                <string>{269,97}</string>
            </dict>
            <key>btnNormalMode.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,2},{269,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,97}}</string>
                <key>sourceSize</key>
                <string>{269,97}</string>
            </dict>
            <key>btnPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{269,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,97}}</string>
                <key>sourceSize</key>
                <string>{269,97}</string>
            </dict>
            <key>btnTopScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,2},{269,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,97}}</string>
                <key>sourceSize</key>
                <string>{269,97}</string>
            </dict>
            <key>btn_GO_Home.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,273},{108,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,121}}</string>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>btn_GO_More.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,396},{108,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,121}}</string>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>btn_GO_Play.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,2},{108,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,121}}</string>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>gameOverBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{403,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,272}}</string>
                <key>sourceSize</key>
                <string>{403,272}</string>
            </dict>
            <key>lockIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,67},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>num_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{81,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,108}}</string>
                <key>sourceSize</key>
                <string>{81,108}</string>
            </dict>
            <key>num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,85},{81,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,108}}</string>
                <key>sourceSize</key>
                <string>{81,108}</string>
            </dict>
            <key>num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,168},{81,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,108}}</string>
                <key>sourceSize</key>
                <string>{81,108}</string>
            </dict>
            <key>num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,251},{81,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,108}}</string>
                <key>sourceSize</key>
                <string>{81,108}</string>
            </dict>
            <key>num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,112},{81,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,108}}</string>
                <key>sourceSize</key>
                <string>{81,108}</string>
            </dict>
            <key>num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,112},{81,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,108}}</string>
                <key>sourceSize</key>
                <string>{81,108}</string>
            </dict>
            <key>num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,195},{81,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,108}}</string>
                <key>sourceSize</key>
                <string>{81,108}</string>
            </dict>
            <key>num_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,361},{81,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,108}}</string>
                <key>sourceSize</key>
                <string>{81,108}</string>
            </dict>
            <key>num_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,278},{81,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,108}}</string>
                <key>sourceSize</key>
                <string>{81,108}</string>
            </dict>
            <key>num_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,361},{81,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,108}}</string>
                <key>sourceSize</key>
                <string>{81,108}</string>
            </dict>
            <key>progressBarBGB.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{323,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,121}}</string>
                <key>sourceSize</key>
                <string>{323,121}</string>
            </dict>
            <key>progressBarBGF.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{323,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,121}}</string>
                <key>sourceSize</key>
                <string>{323,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SpriteSheet_1-hd.png</string>
            <key>size</key>
            <string>{1224,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d25c2b7bb4d1f4e2188b61f19464c88:6ce1135684401440577ecd5b65c884b7:0cb9b6ebc6aaf5c4d8fe6d1e2aac8f22$</string>
            <key>textureFileName</key>
            <string>SpriteSheet_1-hd.png</string>
        </dict>
    </dict>
</plist>
