<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icon_Email.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,260},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Icon_Gamecenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,412},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Icon_Message.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,1330},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Icon_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1606},{150,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{150,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Icon_twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,1482},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Tile_FinalScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,2},{260,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,288}}</string>
                <key>sourceSize</key>
                <string>{260,288}</string>
            </dict>
            <key>Tile_Operator.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,292},{260,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,288}}</string>
                <key>sourceSize</key>
                <string>{260,288}</string>
            </dict>
            <key>Tile_Operator_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,2},{256,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{256,288}}</string>
                <key>sourceSize</key>
                <string>{260,288}</string>
            </dict>
            <key>Tile_Operator_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,260},{256,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{256,288}}</string>
                <key>sourceSize</key>
                <string>{260,288}</string>
            </dict>
            <key>Tile_Operator_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,878},{256,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{256,288}}</string>
                <key>sourceSize</key>
                <string>{260,288}</string>
            </dict>
            <key>Tile_Wrong_Result.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1168},{256,288}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,288}}</string>
                <key>sourceSize</key>
                <string>{260,288}</string>
            </dict>
            <key>btnExpertMode.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,964},{640,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,232}}</string>
                <key>sourceSize</key>
                <string>{640,232}</string>
            </dict>
            <key>btnKidsMode.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{640,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,232}}</string>
                <key>sourceSize</key>
                <string>{640,232}</string>
            </dict>
            <key>btnMore.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,644},{640,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,232}}</string>
                <key>sourceSize</key>
                <string>{640,232}</string>
            </dict>
            <key>btnNormalMode.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{640,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,232}}</string>
                <key>sourceSize</key>
                <string>{640,232}</string>
            </dict>
            <key>btnPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,2},{640,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,232}}</string>
                <key>sourceSize</key>
                <string>{640,232}</string>
            </dict>
            <key>btnTopScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,644},{640,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,232}}</string>
                <key>sourceSize</key>
                <string>{640,232}</string>
            </dict>
            <key>btn_GO_Home.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1458},{256,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,288}}</string>
                <key>sourceSize</key>
                <string>{256,288}</string>
            </dict>
            <key>btn_GO_More.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,878},{256,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,288}}</string>
                <key>sourceSize</key>
                <string>{256,288}</string>
            </dict>
            <key>btn_GO_Play.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,1168},{256,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,288}}</string>
                <key>sourceSize</key>
                <string>{256,288}</string>
            </dict>
            <key>gameOverBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,648}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,648}}</string>
                <key>sourceSize</key>
                <string>{960,648}</string>
            </dict>
            <key>lockIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1606},{73,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,83}}</string>
                <key>sourceSize</key>
                <string>{73,83}</string>
            </dict>
            <key>num_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,1458},{192,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,256}}</string>
                <key>sourceSize</key>
                <string>{192,256}</string>
            </dict>
            <key>num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,1458},{192,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,256}}</string>
                <key>sourceSize</key>
                <string>{192,256}</string>
            </dict>
            <key>num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,878},{192,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,256}}</string>
                <key>sourceSize</key>
                <string>{192,256}</string>
            </dict>
            <key>num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,1136},{192,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,256}}</string>
                <key>sourceSize</key>
                <string>{192,256}</string>
            </dict>
            <key>num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,1394},{192,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,256}}</string>
                <key>sourceSize</key>
                <string>{192,256}</string>
            </dict>
            <key>num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,878},{192,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,256}}</string>
                <key>sourceSize</key>
                <string>{192,256}</string>
            </dict>
            <key>num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,1136},{192,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,256}}</string>
                <key>sourceSize</key>
                <string>{192,256}</string>
            </dict>
            <key>num_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,1394},{192,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,256}}</string>
                <key>sourceSize</key>
                <string>{192,256}</string>
            </dict>
            <key>num_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,878},{192,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,256}}</string>
                <key>sourceSize</key>
                <string>{192,256}</string>
            </dict>
            <key>num_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,1072},{192,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,256}}</string>
                <key>sourceSize</key>
                <string>{192,256}</string>
            </dict>
            <key>progressBarBGB.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{768,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,287}}</string>
                <key>sourceSize</key>
                <string>{768,287}</string>
            </dict>
            <key>progressBarBGF.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,964},{768,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,287}}</string>
                <key>sourceSize</key>
                <string>{768,287}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SpriteSheet_1-ipadhd.png</string>
            <key>size</key>
            <string>{2040,1756}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d25c2b7bb4d1f4e2188b61f19464c88:6ce1135684401440577ecd5b65c884b7:0cb9b6ebc6aaf5c4d8fe6d1e2aac8f22$</string>
            <key>textureFileName</key>
            <string>SpriteSheet_1-ipadhd.png</string>
        </dict>
    </dict>
</plist>
